* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
body {
    background: rgba(0,0,0,0.6);
    margin-top: 50px;
    font-family: "Lato", Helvetica Neue, Helvetica, Arial;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #F0F0F2;
    border-radius: 5px;
}
.content {
    position: relative;
    padding-top: 30px;
    text-align: center;
}
.image {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: -55px;
}
.image img {
    background: #fff;
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    margin: 4px 0 0;
    border: 3px solid #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
}
h1 {
    text-align: center;
    margin-bottom: 30px;;
}
.form-item {
    margin-bottom: 20px;
}
input, button {
    padding: 5px;
}

input {
    box-sizing: border-box;
    background: #fff;
    margin: 0;
    font-size: 15px;
    color: #000;
    border: 1px solid #cececf;
    border-top-color: #b5b5b6;
    border-bottom-color: #dededf;
    box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
    border-radius: 4px;
    transition: border-color .15s linear,box-shadow .15s linear;
}

/* Rip off stripe styles */
button {
    overflow: hidden;
    display: inline-block;
    visibility: visible !important;
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: linear-gradient(#28a0e5,#015e94);
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
button span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275ff;
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}